@using Blazored.LocalStorage
@using cardscore_api.Components.Pages
@using cardscore_api.Models
@using cardscore_api.Services

@inherits LayoutComponentBase

<Header />
<Aside />
<div class="wrapper">
    <main id="content">
        @Body
    </main>
</div>


